/* Global */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.btn:focus {
  box-shadow: none;
}

body,
html {
  height: 100%;
}

.profile-wrapper,
.portfolio-wrapper,
.article-wrapper {
  padding-top: 4rem;
}

/* Navigation */

.navbar-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020;
}

/*START: CSS for Hamburger Icon*/

.navbar-toggler {
  padding: .55rem .65rem;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #999;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 6px;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
  transition: ease all .2s;
}

/*END: CSS for Hamburger Icon*/

/* Home */

.home {
  background-attachment: fixed;
  background-image: url(../assets/images/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f5f5f5;
  display: table;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.home-wrapper {
  background-color: rgba(19, 18, 18, 0.7);
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
}

.blockquote {
  font-weight: 300;
}

.sticky-bottom {
  bottom: 0;
  left: 0;
  padding-bottom: 1.2rem;
  position: absolute;
  right: 0;
}

.icon-box {
  background: #ccc;
  border-radius: 3px;
  width: 2rem;
  height: 1.6rem;
  display: inline-block;
  text-align: center;
  color: #6d6f7d;
  margin-right: .5em;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(166, 166, 166, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(166, 166, 166, 1);
  box-shadow: 0px 4px 0px 0px rgba(166, 166, 166, 1);
}

.icon-box i {
  vertical-align: middle;
  margin-bottom: 5px;
}

.icon-box i.fa-phone {
  font-size: .9em
}

.custom_primary-btn.download-btn {
  color: black;
}

/* Profile */

.progress-bar {
  background-color: #17a2b8;
}

/* Portfolio */

.portfolio {
  background-color: #d3d4d9;
}

.img-tiles-wrapper {
  position: relative;
}

.tiles-banner {
  height: 275px;
  width: 90%;
  border-radius: .9em;
  margin: 0 auto;
  border: 1px solid #d3d4d9;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(186, 186, 186, 0.61);
  -moz-box-shadow: 0px 0px 25px 0px rgba(186, 186, 186, 0.61);
  box-shadow: 0px 0px 25px 0px rgba(186, 186, 186, 0.61);
  position: relative;
  overflow: hidden;
}

.tiles-banner img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tiles-banner img.portrait {
  width: 100%;
  height: auto;
  top: 0;
  transform: translate(-50%, 0%);
}

.restrict-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.tiles-desc {
  width: 80%;
  background: #fcf7ff;
  border: 1px solid #d3d4d9;
  padding: 1em;
  height: 160px;
  margin: 0 auto;
  position: relative;
  top: -5em;
  border-radius: .7em;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}

.view-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -60%);
}

.custom_primary-btn {
  -moz-box-shadow: 0px 4px 0px 0px #e0b84a;
  -webkit-box-shadow: 0px 4px 0px 0px #e0b84a;
  box-shadow: 0px 4px 0px 0px #e0b84a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7d781), color-stop(1, #efcb68));
  background: -moz-linear-gradient(top, #f7d781 5%, #efcb68 100%);
  background: -webkit-linear-gradient(top, #f7d781 5%, #efcb68 100%);
  background: -o-linear-gradient(top, #f7d781 5%, #efcb68 100%);
  background: -ms-linear-gradient(top, #f7d781 5%, #efcb68 100%);
  background: linear-gradient(to bottom, #f7d781 5%, #efcb68 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d781', endColorstr='#efcb68', GradientType=0);
  background-color: #efcb68;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #fcf7ff;
  padding: 3px 20px;
  text-decoration: none;
  min-width: 120px;
}

.custom_primary-btn:hover,
.custom_primary-btn:focus,
.custom_primary-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #efcb68), color-stop(1, #f7d781));
  background: -moz-linear-gradient(top, #efcb68 5%, #f7d781 100%);
  background: -webkit-linear-gradient(top, #efcb68 5%, #f7d781 100%);
  background: -o-linear-gradient(top, #efcb68 5%, #f7d781 100%);
  background: -ms-linear-gradient(top, #efcb68 5%, #f7d781 100%);
  background: linear-gradient(to bottom, #efcb68 5%, #f7d781 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efcb68', endColorstr='#f7d781', GradientType=0);
  -moz-box-shadow: 0px 4px 0px 0px #e0b84a;
  -webkit-box-shadow: 0px 4px 0px 0px #e0b84a;
  box-shadow: 0px 4px 0px 0px #e0b84a;
  background-color: #efcb68;
}

.attachment-count {
  font-size: .9em;
}

.attachment-count img {
  width: 16px;
  vertical-align: sub;
}

/* Articles */

.articles {
  background-color: #f5f5f5;
}

.read-button {
  position: absolute;
  bottom: 0;
  right: 17px;
  transform: translate(0%, -60%);
}

.article-title {
  position: absolute;
  z-index: 99;
  height: 60px;
  background: #000411;
  width: 100%;
  opacity: .8;
  color: #fcf7ff;
  padding: .5em;
  font-size: 1.5em;
  text-align: center;
  -webkit-box-shadow: 0px 10px 36px -10px rgba(135, 131, 135, .5);
  -moz-box-shadow: 0px 10px 36px -10px rgba(135, 131, 135, .5);
  box-shadow: 0px 10px 36px -10px rgba(135, 131, 135, .5);
}

/* Contact */

.contact {
  background-attachment: fixed;
  background-image: url(../assets/images/contact_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f5f5f5;
  display: table;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.contact-wrapper {
  background-color: rgba(19, 18, 18, 0.7);
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
}

.contact-intro {
  /* width: 70%; */
  margin-right: auto;
  margin-left: auto;
  padding-top: 8em;
}

.contact-intro h5 {
  margin-top: 3em;
}

/* .social-contact {
  margin-top: 7em;
} */

.social-contact a,
.social-contact a:hover,
.social-contact a:active,
.social-contact a:focus {
  color: #efcb68;
  text-decoration: none;
}

.social-contact i {
  font-size: 1.8rem;
  /*   vertical-align: baseline; */
}

/* .social-contact i.fa-github-alt {
  vertical-align: sub;
} */

.personal-contact a,
.personal-contact a:hover,
.personal-contact a:active,
.personal-contact a:focus {
  color: #fff;
  text-decoration: none;
}

.contact-sticky-footer {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 2rem;
}

/* Article Modal */

.article-cover {
  height: 300px;
  background: #d3d4d9;
  margin: .5rem 0 1.25rem;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  border: 1px solid #d3d4d9;
}

.article-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.article-cover img.landscape {
  width: 100%;
  height: auto;
  top: 0;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

/* Photoswipe */

a.btn:hover {
  color: #fcf7ff;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  height: 45px;
  width: 40px;
}

.pswp__button--arrow--left:before {
  border-radius: 0 5px 5px 0;
  background-position: -134px -37px;
  left: 0px;
}

.pswp__button--arrow--right:before {
  border-radius: 5px 0 0 5px;
  background-position: -90px -37px;
  right: 0px;
}